<div *ngFor="let item of cartItems" class="cart-item">
  <h4>{{ item.product.name }}</h4>
  <p>Price: ${{ item.product.price }}</p>
  <p *ngIf="item.product.discount" style="color: red">
    Discount: {{ item.product.discount }}%
  </p>
  <p>
    Quantity:
    <input
      type="number"
      [(ngModel)]="item.quantity"
      (change)="updateQuantity(item.product.id, item.quantity)"
    />
  </p>
  <button (click)="removeFromCart(item.product.id)">Remove</button>
</div>

<h3>Total Price: {{ totalPrice | currency }}</h3>
